.kda {
  composes: base from "../theme/common.scss";
  background: #555;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  width: 110px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  &[data-team="CT"] {
    [class*=__title__] {
      color: #4BA5D4;
    }
  }
  &[data-team="T"] {
    [class*=__title__] {
      color: #C18B32;
    }
  }
}

.title {
  color: rgba(255, 255, 255, 0.3);
  width: 15px;
}

.value {
  font-weight: 400;
  width: 20px;
}
