.base {
  @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
  @import url(https://use.typekit.net/jsj3kqp.css);
  font-family: industry,"Noto Sans JP", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
