@import "../theme/color.scss";
.player {
  composes: base from "../theme/common.scss";
  width: 610px;
  height: 32px;
  display: flex;
  &[data-slot-side="left"] {
    flex-flow: row-reverse nowrap;
      [class*=__sub-info__] {
        flex-flow: row-reverse nowrap;
    }
  }
  &[data-team="T"] {
    border-bottom: 2px solid #C18B32;
  }
  &[data-team="CT"] {
    border-bottom: 2px solid #4BA5D4;
  }
}
.wrapper {
  background: #555;
}

.sub-info {
  height: 32px;
  display: flex;
  align-items: center;
}

.armor {
  width: 30px;
  height: 100%;
  text-align: center;
}
.armor-icon {
  height: 75%;
  width: auto;
  margin: 2px auto auto 2px;
}
.name {
  width: 100px;
  &[data-slot-side="left"] {
    float: left;
    margin-left: 5px;
    text-align: left;
  }
  &[data-slot-side="right"] {
    float: right;
    margin-right: 5px;
    text-align: right;
  }
}

.defuse-kit {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  > img {
    height: 24px;
    width: auto;
    filter: brightness(5%) invert(100%);
  }
}
.c4 {
  width: 30px;
  height: 100%;
  > img {
    height: 75%;
    width: auto;
    margin: 2px auto auto 2px;
    filter: brightness(5%) invert(100%);
  }
}

.item-info {
  width: 135px;
  height: 100%;
  &[data-slot-side="right"] {
    float: left;
    > img {
      transform: scale(-1, 1);
      float: left;
      padding-right: 3px;
      margin: 2px auto auto 2px;
    }
  }
  &[data-slot-side="left"] {
    float: right;
    > img {
      float: right;
      margin: 2px 2px auto auto;
    }
  }
  > img {
    transform: scale(-1, 1);
    float: left;
    padding-right: 5px;
    width: auto;
    height: 24px;
    &[data-active=true] {
      filter: invert(100%);
    }
    &[data-active=false] {
      filter: invert(70%);
    }
  }
}

.primary-weapon {
  width: 120px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  &[data-slot-side="left"] {
    float: right;
    text-align: right;
    justify-content: flex-start;
  }
  &[data-slot-side="right"] {
    float: left;
    text-align: left;
    justify-content: flex-end;
  }
}
.primary-weapon-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 75%;
  padding: 0 5px;
  box-sizing: border-box;
  &[data-slot-side="right"] {
    transform: scale(-1, 1);
  }
  &[data-active=true] {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(100%);
  }
  &[data-active=false] {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(70%);
  }
}

.money {
  color: #add28b;
  text-shadow: 0 0 10px #000;
  font-weight: bold;
  width: 80px;
  text-align: center;
}


.health {
  text-shadow: 0 0 10px black;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 100%;
  text-align: center;
  &[data-slot-side="left"] {
    float: left;
  }
  &[data-slot-side="right"] {
    float: right;
  }
}
.health-bar {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  right :0;
  bottom: 0;
  left: 0;
  &[data-team="T"] {
    //background: linear-gradient(90deg, #DA8A31, #7B5C2A);
    background: linear-gradient(90deg, #7B5C2A, #DA8A31);
  }
  &[data-team="CT"] {
    background: linear-gradient(90deg, #445B6A, #0092C9);
  }
}
.kill-count {
  composes: base from "../theme/common.scss";
  text-shadow: 0 0 10px #000;
  &[data-slot-side="right"] {
    float: right;
  }
  &[data-slot-side="left"] {
    float: left;
  }
}
.kill-icon {
  height: 60%;
  margin-top: 5px;
  width: auto;
  margin-left: 2px;
  padding-right: 2px;
  &[data-slot-side="right"] {
    float: right !important;
  }
  &[data-slot-side="left"] {
    float: left !important;
  }
}


.observer-slot {
  color: #fff;
  font-size: 40%;
  width: 6px;
  &[data-slot-side="right"] {
    float: right !important;
    margin: 5px 5px 0 0;
  }
  &[data-slot-side="left"] {
    float: left !important;
    margin: 5px 0 0 5px;
  }
}
