@import "../theme/color.scss";
.player {
  composes: base from "../theme/common.scss";
  width: 465px;
  height: 63px;
  margin-bottom: 6px;

  display: flex;
  &[data-slot-side="right"] {
    flex-flow: row-reverse nowrap;
  }
  &[data-team="T"] {
    [class*=__wrapper__] {
      background: rgba(0, 0, 0, 0.65);
    }
  }
  &[data-team="CT"] {
    [class*=__wrapper__] {
      background: rgba(0, 0, 0, 0.65);
    }
  }
  &[data-is-spectating-by-observer=true] {
    [class*=__wrapper__] {
      background: rgba(150, 150, 150, 0.65);
    }
  }
}
.wrapper {
  width: 350px;

  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}
.main-info {
  width: 350px;
  height: 36px;

  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.health-bar {
  width: 350px;
  height: 36px;

  position: absolute;
  z-index: 0;
  order: 0;
  &[data-team="T"] {
    background: linear-gradient(90deg, #7B5C2A, #DA8A31);
  }
  &[data-team="CT"] {
    background: linear-gradient(90deg, #445B6A, #0092C9);
  }
}
.health {
  width: 40px;
  // height: 100%;
  text-align: center;
  text-shadow: 0 0 10px black;

  position: relative;
  z-index: 1;
  &[data-slot-side="left"] {
    order: 1;
  }
  &[data-slot-side="right"] {
    order: 3;
  }
}
.name {
  width: 170px;
  text-shadow: 0 0 10px black;
  overflow: hidden;
  position: relative;
  z-index: 1;
  order: 2;
  &[data-is-alive=false] {
    color: rgba(255, 255, 255, 0.3);
  }
  &[data-slot-side="left"] {
    padding-left: 15px;
    text-align: left;
  }
  &[data-slot-side="right"] {
    padding-right: 15px;
    text-align: right;
  }
}
.primary-weapon {
  width: 120px;
  height: 36px;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  &[data-slot-side="left"] {
    order: 3;
    justify-content: flex-end;
  }
  &[data-slot-side="right"] {
    order: 1;
    justify-content: flex-start;
  }
}
.primary-weapon-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 75%;
  padding: 0 5px;
  box-sizing: border-box;
  &[data-slot-side="right"] {
    transform: scale(-1, 1);
  }
  &[data-active=true] {
    filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(100%);
  }
  &[data-active=false] {
    filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(70%);
  }
}

.sub-info {
  width: 350px;
  height: 27px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.other-info {
  height: 27px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &[data-slot-side="right"] {
    order: 2;
  }
  &[data-slot-side="left"] {
    order: 1;
  }
}
.observer-slot {
  color: #fff;
  font-size: 60%;
  width: 6px;
  &[data-slot-side="right"] {
    order: 8;
    margin-right: 3px;
  }
  &[data-slot-side="left"] {
    order: 1;
    margin-left: 3px;
  }
}

.armor {
  width: 30px;
  height: 100%;
  text-align: center;
  // display: block;
  &[data-slot-side="right"] {
    order: 7;
  }
  &[data-slot-side="left"] {
    order: 2;
  }
}
.armor-icon {
  height: 75%;
  width: auto;
  margin: 2px auto auto 2px;
}

.money {
  color: #add28b;
  text-shadow: 0 0 10px #000;
  font-weight: bold;
  width: 60px;
  &[data-slot-side="right"] {
    order: 6;
  }
  &[data-slot-side="left"] {
    order: 3;
  }
}

.defuse-kit {
  width: 30px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    height: 75%;
    width: auto;
    filter: brightness(5%) invert(100%);
  }
  &[data-slot-side="right"] {
    order: 5;
  }
  &[data-slot-side="left"] {
    order: 4;
  }
}
.c4 {
  width: 30px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    height: 75%;
    width: auto;
    filter: brightness(5%) invert(100%);
  }
  &[data-slot-side="right"] {
    order: 5;
  }
  &[data-slot-side="left"] {
    order: 4;
  }
}
.kill-count {
  composes: base from "../theme/common.scss";
  // text-shadow: 0 0 10px #000;
  &[data-slot-side="right"] {
    order: 4;
    margin-right: 10px;
  }
  &[data-slot-side="left"] {
    order: 6;
  }
}

.kill-icon {
  height: 60%;
  width: auto;
  margin: 0 2px 0 2px;
  &[data-slot-side="right"] {
    order: 3;
  }
  &[data-slot-side="left"] {
    order: 5;
    margin-left: 10px;
  }
}
.weapon-info {
  height: 27px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &[data-slot-side="right"] {
    order: 1;
  }
  &[data-slot-side="left"] {
    order: 2;
  }
}
.item-info {
  width: 80px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &[data-slot-side="right"] {
    order: 2;
    > img {
      transform: scale(-1, 1);
    }
  }
  &[data-slot-side="left"] {
    order: 7;
  }
  > img {
    width: auto;
    height: 75%;
    margin: 0 2px 0 2px;
    &[data-active=true] {
      filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(100%);
    }
    &[data-active=false] {
      filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(70%);
    }
  }
}
.secondary-weapon {
  // width: 165px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &[data-slot-side="right"] {
    order: 1;
    margin: 0 10px 0 5px;
    > img {
      transform: scale(-1, 1);
    }
  }
  &[data-slot-side="left"] {
    order: 8;
    margin: 0 5px 0 10px;
  }
  > img {
    width: auto;
    height: 75%;
    &[data-active=true] {
      filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(100%);
    }
    &[data-active=false] {
      filter: drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(-0.5px -0.5px 0.5px white) invert(70%);
    }
  }
}

.kda-wrapper {
  flex: 1;
  width: 115px;
  &[data-show-kda=true] {
    transition: all 1s;
    opacity: 1;
  }
  &[data-show-kda=false] {
    transition: all 1s;
    opacity: 0;
  }
}
